[Desktop Entry]
Encoding=UTF-8
Name=ffbrowser
Comment=Finger friendly browser
Exec=ffbrowser
Icon=ffbrowser
Terminal=false
Type=Application
Categories=Application;Utility;
